body {
    background-color: rgb(158, 126, 158);
    font-family: arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(34, 50, 122);
    font-size:50;
    border: 2px solid rgb(34, 50, 122)
    
}
h2 {
    color: rgb(64, 51, 99);
    font-size:50;
    
    text-align: left;
    
}
h4 {
    color: #372855;
    font-size: 20px;
    border: 2px solid rgb(34, 50, 122);
}
p{ 
    color: #372855;
    text-align: left;
}




   

form label{
    margin-top: 20px

}
form input{
    color: rgb(79, 42, 165);
    background-color:rgb(218, 185, 211);

}



nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(47, 60, 102);
    padding: 10px;

}
nav p{
    text-align: left;
    color:rgb(180, 175, 219);
    text-decoration: none ;
    margin: 0 50px;
}
nav a {
    
    color:rgb(180, 175, 219);
    text-decoration: none ;
    margin: 0 50px;
}
.sobreMi {
    ul{
    color: rgb(79, 42, 165);
    background-color:rgb(217, 188, 226);
    text-align:left;
    }
}
.comunicacion{
    text-align: left;
    
    p{
        color:rgb(64, 47, 109) ;
       padding: 2px solid   rgb(34, 50, 122) ; 
    }
    
}
.contacto{
    width: 70px ;
    height:70px ;
    align-items: ;
}

.separadorUno{
    border: 2px solid rgb(229, 184, 235);
    padding: 0 360px;
    width: 600px ;
    height:150px ;
}
