<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>titulo</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav>
    <p>Jazmin perez</p>
    <a href="main.html">Incio</a>
    <a href="contacto.html">contacto</a>
  </nav>

  <div>
    <h4>portfolio</h4>
    
  </div>
  
  
  <h1>Bienvenido</h1>
  
  <section class="sobreMi">
    <h2>Sobre mi</h2>
    
    <p>¡Hola! Soy Jazmin
      soy estudiante de secundario y tengo varios  hobbies como;dibujar,cocinar,hacer jardineria,etc.Mis animales favoritos son los
      gatos y caballos,mis comidas favoritas son los postres como un submarinoy me gusta estar en casa mucho.
      
      Esta pagina la hiceun 22/9 ,esperote guste  ypor favor disfruta de la linda paleta de colores que elegi con mucho amor.
      
    </p>
    
  </section>
  
  <main>
  </main>
  
  <img class="separadorUno" src="https://sdmntprnorthcentralus.oaiusercontent.com/files/00000000-3048-622f-babc-6971422b1658/raw?se=2025-09-27T18%3A29%3A13Z&sp=r&sv=2024-08-04&sr=b&scid=a8ac2406-fd7d-5dfb-8aa4-a19131705a5a&skoid=b0fd38cc-3d33-418f-920e-4798de4acdd1&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-27T07%3A32%3A45Z&ske=2025-09-28T07%3A32%3A45Z&sks=b&skv=2024-08-04&sig=dYToaip72RjqsEprdy5IkpD2G8BRBfUMbbEM%2B5KZ3w4%3D" alt="">
</body>

</html>